body{
    background-color: turquoise;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    color: rebeccapurple;
}
.container{
    width: 970px;
    padding: 10px;
    text-align: center;
}
h1{
    width: 950px;
    padding: 10px;
    text-align: center;
    background-color: rgb(112, 227, 221);
    border: 5px solid lightseagreen;
}
.sections{
    width: 950px;
    padding: 10px;
    background-color: lightseagreen;
}
img{
    border: 5px dashed rebeccapurple;
    width: 400px;
}
.images{
    text-align: center;
}
a{
    text-decoration: none;
    color: purple;
}